{{#partial "content"}}
    {{#if editHero}}
        <h1>Adjust your Hero's characteristics</h1>
        <form action="/hero/{{editHero.id}}/update" method="post" class="form-group">
            <label for ="name"></label>
            <input id ="name" name="name" type="text" class="form-control">
            <label for ="age">Hero's Age</label>
            <input id="age" name="age" type="text" class="form-control">
            <label for="power">Hero's powers</label>
            <input type="text" name="power" id="power" class="form-control">
            <label for ="weakness">Hero's Weakness</label>
            <input type="text" id="weakness" name="weakness" class="form-control">
    {{else}}
            <h1>Add a new Hero</h1>
        <form action ="/hero/new" method="post" class="form-group">
            <label for="name">Hero's Name</label>
            <input type="text" id="name" name="name" class="form-control">
            <label for="age">Hero's Age</label>
            <input type="text" id="age" name="age" class="form-control">
            <label for ="power">Hero's Powers</label>
            <input type="text" id="power" name="power" class="form-control">
            <label for="weakness">Weakness</label>
            <input type="text" id="weakness" name="weakness" class="form-control"><br>
    {{/if}}
        <button class="btn btn-danger" type="submit">Touch Me!</button>
    </form>
{{/partial}}
{{>layout.hbs}}