{{#partial "styles"}}
    <link rel="stylesheet" href="/css/success2.css">
{{/partial}}
{{#partial "content"}}
    <div class="success">
        <h1>Success!</h1>
        <p>Your Squad has been saved.</p>
        <p><a href="/squads/list"><button class="btn btn-danger">View Squad</button></a> </p>
    </div>
{{/partial}}
{{>layout.hbs}}